[Desktop Entry]
Type=Application
Name=Default Brightness and Volume
Exec=mpv --idle --force-window --fs                
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true