[Desktop Entry]
Type=Application
Name=MPV Autostart
Exec=mpv --idle --force-window --fs --focus-on-open          
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true