[Unit]
Description=Disable Touchscreen on Boot

[Service]
Type=oneshot
# Disable Touchscreen (eGalax)
ExecStart=/bin/sh -c 'echo "1-5:1.0" > /sys/bus/usb/drivers/usbhid/unbind || true'
# Disable Stylus (Wacom)
ExecStart=/bin/sh -c 'echo "1-4:1.0" > /sys/bus/usb/drivers/usbhid/unbind || true'
# Set brightness to 25%
ExecStart=/bin/sh -c 'brightnessctl s 25%'

[Install]
WantedBy=multi-user.target